Simple Calculator - c/calculator.exe
Bubble Sort/bubble.exe
Insertion Sort/insertion.exe
Selection Sort/selection.exe
rps/rps.exe
rps/rps_optimized.exe
other/donut
string/string_append
string/string_len
other/card_flip